algopy==0.5.7
asttokens==2.1.0
backcall==0.2.0
contourpy==1.0.5
cycler==0.11.0
decorator==5.1.1
executing==1.2.0
fonttools==4.38.0
ipython==8.6.0
jedi==0.18.1
kiwisolver==1.4.4
matplotlib==3.6.1
matplotlib-inline==0.1.6
numdifftools==0.9.40
numpy==1.23.4
packaging==21.3
pandas==1.5.1
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
prompt-toolkit==3.0.32
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.5
scipy==1.9.3
six==1.16.0
stack-data==0.6.1
statsmodels==0.13.2
traitlets==5.5.0
wcwidth==0.2.5
